Username = YourName
Assistantname = Jarvis
GroqAPIKey = gsk_YOUR_GROQ_API_KEY_HERE
InputLanguage = en
AssistantVoice = en-US-ChristopherNeural
HuggingFaceAPIKey = hf_YOUR_HUGGINGFACE_API_KEY_HERE
SenderEmail = your_email@gmail.com
SenderPassword = your_gmail_app_password_here
SenderName = YourName
